html {
    background-color: rgb(100, 100, 100);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    color: white;
}

#header {
    display: flex;
    background-color: teal;
    height: 20%;
    align-items: center;
    justify-content: center;
    font: small-caps bold 32px/1 sans-serif;
}

#content {
    display: flex;
    height: 70%;

}

#imageBar {
    width: 20%;
    background-image: url("img/RPS.jpg");
    background-size: 100%;
}

#IO {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 80%;
}

#playArea {
    height: 45%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.moves {
    width: 30%;
    min-height: 80%;
    border: none;
    color: white;
    border: 4px solid white;
    border-radius: 100px;
    background-color: rgb(255, 165, 0, .9);
    font: small-caps bold 32px/1 sans-serif;
}

.moves:hover {
    width: 30%;
    min-height: 75%;
    border: none;
    color: white;
    border: 4px solid rgb(255, 255, 255, .8);
    border-radius: 100px;
    background-color: rgb(255, 165, 0, .855);
    font: small-caps bold 30px/1 sans-serif;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: small-caps bold 20px/1 sans-serif;
    background-color: rgb(32, 200, 170);
    color: black;
    min-height: 45%;
    border: 10px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 20px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    background-color: teal;
    color: white;
    font-size: 20px;
}
